<!DOCTYPE html>
<html>
<head>
    <title>Download - PassCraft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
  <body>
    <div class="header">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
      <h1>PassCraft</h1>
      <h2>by Aadit Bennur</h2>
      <a href="https://github.com/abennur33" target="_blank">Check out my GitHub!</a>
      <!-- Dark mode toggle switch here -->
      <label class="dark-mode-label">Dark Mode</label> 
      <label class="switch">
          <input type="checkbox" id="dark-mode-toggle">
          <span class="slider"></span>
      </label>
  </div>

  <!-- Page Summary -->
  <div class="page-summary">
      <h2>Download - Get Your Custom Passes</h2>
      <p>Your passes are ready! Download the final product for printing or digital use.</p><br>
  </div>
  <div class="containerL">
    <p>Click the link below to download all of the customized files.</p>
    <a href="{{ url_for('download') }}">Download Zip File</a>
    <form action="/ending" method="GET">
      <input type="submit" value="Continue">
  </form>
  </div>
  <div class="back-button-container">
    <form action="/qrcode" method="GET">
        <input type="submit" value="Back">
    </form>
</div>
<script>
  // Function to toggle dark mode
  function toggleDarkMode() {
      const body = document.body;
      body.classList.toggle('dark-mode');
      const containers = document.querySelectorAll('.container, .containerL, .container-left, .container-right');
      containers.forEach(container => container.classList.toggle('dark-mode'));
      const headers = document.querySelectorAll('h1, h2, h3, p, a');
      headers.forEach(header => header.classList.toggle('dark-mode'));

    // Store the user's preference in localStorage
      const isDarkMode = body.classList.contains('dark-mode');
      localStorage.setItem('darkModePreference', isDarkMode);
  }

  // Check if the user's dark mode preference is set in localStorage
  const isDarkModePreferred = JSON.parse(localStorage.getItem('darkModePreference'));
  if (isDarkModePreferred) {
      toggleDarkMode()
  }

  // Attach event listener to the dark mode toggle switch
  const darkModeToggle = document.getElementById('dark-mode-toggle');
  darkModeToggle.addEventListener('change', toggleDarkMode);
</script>
  </body>
</html>
