<!DOCTYPE html>
<html>
<head>
    <title>Completed - PassCraft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <h1>PassCraft</h1>
        <h2>by Aadit Bennur</h2>
        <a href="https://github.com/abennur33" target="_blank">Check out my GitHub!</a>
        <!-- Dark mode toggle switch here -->
        <label class="dark-mode-label">Dark Mode</label> 
        <label class="switch">
            <input type="checkbox" id="dark-mode-toggle">
            <span class="slider"></span>
        </label>
    </div>
    <div class="page-summary">
        <h1>Thanks for using PassCraft!</h1><br>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="containerL">
        <p>Passes have been generated and have either been downloaded or emails have been sent!</p>
        <p>Click the button below to go back to the start.</p>
        <form action="/" method="GET">
            <input type="submit" value="Resubmit Form">
        </form>
    </div>
    <script>
        // Function to toggle dark mode
        function toggleDarkMode() {
            const body = document.body;
            body.classList.toggle('dark-mode');
            const containers = document.querySelectorAll('.container, .containerL, .container-left, .container-right');
            containers.forEach(container => container.classList.toggle('dark-mode'));
            const headers = document.querySelectorAll('h1, h2, h3, p, a');
            headers.forEach(header => header.classList.toggle('dark-mode'));
      
          // Store the user's preference in localStorage
            const isDarkMode = body.classList.contains('dark-mode');
            localStorage.setItem('darkModePreference', isDarkMode);
        }
      
        // Check if the user's dark mode preference is set in localStorage
        const isDarkModePreferred = JSON.parse(localStorage.getItem('darkModePreference'));
        if (isDarkModePreferred) {
            toggleDarkMode()
        }
      
        // Attach event listener to the dark mode toggle switch
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        darkModeToggle.addEventListener('change', toggleDarkMode);
      </script>
</body>
</html>
