<!DOCTYPE html>
<html>
<head>
    <title>QR Code - PassCraft</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logos/favicon.png') }}">
    <style>
        #preview {
            width: 500px;
            height: 300px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }
        .info-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #f0f0f0;
            text-align: center;
            border-radius: 50%;
            font-weight: bold;
            font-size: 14px;
            color: #333;
            cursor: pointer;
            position: relative;
            margin-left: 5px;
        }

        .info-icon::after {
            content: attr(data-info);
            display: none;
            position: absolute;
            top: -40px;
            left: 30px;
            width: 200px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 5px;
            font-size: 12px;
        }

        .info-icon:hover::after {
            display: block;
        }
    </style>
    <script>
        $(document).ready(function() {
            // Get the canvas element and context
            var canvas = document.getElementById("preview");
            var ctx = canvas.getContext("2d");

            // Default values for position and font size
            var xPosition = 0;
            var yPosition = 0;
            var size = 100;

            // Get the template file path from Flask
            var templateFilePath = "{{ template_file_path }}";
            var textX = "{{ x_position }}";
            var textY = "{{ y_position }}";
            var textSize = "{{ font_size }}";
            var font = "{{ font_family }}";
            var textColor = "{{ text_color }}";
            var qrFilePath = "{{ url_for('static', filename='qrcodesample.png') }}";
            var testName = "John Doe";

            // Function to draw the preview with current settings
            function drawPreview() {
                // Clear the canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                // Draw the image
                var image = new Image();
                image.src = templateFilePath;
                image.onload = function() {
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                    const ratioX = image.width / canvas.width;
                    const ratioY = image.height / canvas.height;

                    const adjustedTextX = textX / ratioX;
                    const adjustedTextY = canvas.height - textY / ratioY;
                    const adjustedFontSize = textSize / ratioY;

                    // Draw the text
                    ctx.font = "bold " + adjustedFontSize + "px " + font;
                    ctx.letterSpacing = '5px';
                    ctx.fillStyle = textColor;
                    ctx.fillText(testName, adjustedTextX, adjustedTextY);

                    var qrCode = new Image();
                    qrCode.src = qrFilePath;
                    qrCode.onload = function() {
                      const adjustedX = xPosition / ratioX;
                      const adjustedY = canvas.height - (yPosition + size) / ratioY;
                      const adjustedYSize = size / ratioY;
                      const adjustedXSize = size / ratioX;

                      ctx.drawImage(qrCode, adjustedX, adjustedY, adjustedXSize, adjustedYSize);
                    }
                };
            }

            // Update position and redraw preview on input change
            $("#x_position").on("input", function() {
                xPosition = parseInt($(this).val());
                drawPreview();
            });

            $("#y_position").on("input", function() {
                yPosition = parseInt($(this).val());
                drawPreview();
            });

            // Update font size and redraw preview on input change
            $("#code_size").on("input", function() {
                size = parseInt($(this).val());
                drawPreview();
            });

            $("#test_name").on("change", function() {
                testName = ($(this).val());
                drawPreview();
            });

            // Initial draw of the preview
            drawPreview();
        });
    </script>
</head>
<body>
  <div class="header">
    <img src="{{ url_for('static', filename='logos/logo.png') }}" alt="Logo">
    <h1>PassCraft</h1>
    <h2>by Aadit Bennur</h2>
    <a href="https://github.com/abennur33" target="_blank">Check out my GitHub!</a>
    <!-- Dark mode toggle switch here -->
    <label class="dark-mode-label">Dark Mode</label> 
    <label class="switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider"></span>
    </label>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<!-- Page Summary -->
<div class="page-summary">
    <h2>QR Code - Generate QR Codes</h2>
    <p>Add an extra layer of functionality to your passes by including a QR code for quick and easy verification.</p><br>
</div>
    <div class="container-flex">
      <div class="container-left">
        <form method="POST">
          <h3>Set the position of the code:</h3>
          <label>X Position:</label>
          <input type="number" id="x_position" name="x_position" min="0" step="1"><br>
          <label>Y Position:</label>
          <input type="number" id="y_position" name="y_position" min="0" step="1"><br>
          <h3>Set the code size:</h3>
          <input type="number" id="code_size" name="code_size" min="0" step="1" value="100"><br>
          <p>Input zero for the size if you don't wish to have a qr code on your tickets.</p><br><br>
          <h3>Next Step:</h3>
          <select id="next_step" name="next_step">
            <option value="Download Cards">Download Cards</option>
            <option value="Email Cards">Email Cards</option>
          </select><br><br>
          <input type="submit" value="Next">
      </form>
      </div>
      <div class="container-right">
        <h3>Preview:</h3>
        <canvas id="preview"></canvas><br>
        <p>For testing purposes, choose a name:</p>
        <select id="test_name" name="test_name">
          <option value="John Doe">John Doe</option>
          <option value="Johnathan Doemenicus III">Johnathan Doemenicus III</option>
        </select>
      </div>
    </div>
    <div class="back-button-container">
      <form action="/position" method="GET">
          <input type="submit" value="Back">
      </form>
  </div>
  <script>
    // Function to toggle dark mode
    function toggleDarkMode() {
        const body = document.body;
        body.classList.toggle('dark-mode');
        const containers = document.querySelectorAll('.container, .containerL, .container-left, .container-right');
        containers.forEach(container => container.classList.toggle('dark-mode'));
        const headers = document.querySelectorAll('h1, h2, h3, p, a');
        headers.forEach(header => header.classList.toggle('dark-mode'));
  
      // Store the user's preference in localStorage
        const isDarkMode = body.classList.contains('dark-mode');
        localStorage.setItem('darkModePreference', isDarkMode);
    }
  
    // Check if the user's dark mode preference is set in localStorage
    const isDarkModePreferred = JSON.parse(localStorage.getItem('darkModePreference'));
    if (isDarkModePreferred) {
        toggleDarkMode()
    }
  
    // Attach event listener to the dark mode toggle switch
    const darkModeToggle = document.getElementById('dark-mode-toggle');
    darkModeToggle.addEventListener('change', toggleDarkMode);
  </script>
</body>
</html>